<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phamn.learningtoeic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity" />
        <activity android:name=".View.Part1Activity" />
        <activity android:name=".View.Part2Activity" />
        <activity android:name=".View.Part3Activity" />
        <activity android:name=".View.Part4Activity" />
        <activity
            android:name=".View.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.VocabularyActivity" />
        <activity android:name=".View.IdiomActivity" />
        <activity android:name=".View.TopicVocabularyActivity" />
        <activity android:name=".View.TipsActivity" />
        <activity android:name=".View.TopicTipsActivity"></activity>
    </application>

</manifest>